body{
    background-image: url(https://brancopapeldeparede.fbitsstatic.net/img/p/painel-ceu-fundo-azul-71873/243345-3.jpg?w=817&h=1108&v=no-change);

    <p class="inset">Meio ambiente é um “conjunto de condições, leis, influências e interações de ordem física, química e biológica que permite, abriga e rege a vida em todas as suas formas”, de acordo com a Política Nacional do Meio Ambiente. Assim, o termo apresenta diferentes conotações, podendo ser analisado sob diversas perspectivas, como: aspectos naturais, espaço urbano, locais onde as pessoas exercem suas atividades e patrimônios cultural, nacional e genético.</p>
    image{
    width: 40%;
    height: 40%;
}


        