body{
    background-image: url(https://www.seekpng.com/png/detail/779-7795725_fundo-textura-fundos-estampas-planos-de-fundo-gotas.png);
    background-attachment: fixed;
    border-style: groove;
    border-radius: 8px;
   
   }

h1{
   text-align: center;
   font-family: fantasy;
   font: size 75px;
}    

p{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: large; 
}

.imagem1{
   position: center;
   width: 650px;
   height: 370px;
   margin-left: 27%;
}

   .imagem2{
       position: center;
       width: 650px;
       height: 370px;
       margin-left: 27%;
}

   .nome{
       text-align:end;
       font-family: Arial, Helvetica, sans-serif;  
}
